Repository green-code-initiative/creedengo-rules-specifications, pull requests merged in 2022-12, with the labels that each got.

#12 delete duplicate rule - get manually from old repository
  php-plugin/src/main/java/fr/cnumr/php/MyPhpRules.java
  php-plugin/src/main/java/fr/cnumr/php/checks/AvoidUsingFinallyInTryCatchCheck.java
  php-plugin/src/main/resources/fr/cnumr/l10n/php/rules/custom/D1.html
  php-plugin/src/test/java/fr/cnumr/php/MyPhpRulesTest.java
  php-plugin/src/test/java/fr/cnumr/php/checks/AvoidUsingFinallyInTryCatchCheckTest.java
  php-plugin/src/test/resources/checks/AvoidUsingFinallyInTryCatchCheck.php
Labels: rule, php

#14 [ISSUE 161] adding tool to update tags of native rules with our custom tags
  tools_init/_config.sh
  tools_init/_core.sh
  tools_init/check_tags.sh
  tools_init/clean_tag.sh
  tools_init/install_tag.sh
  tools_init/readme.md
Labels: enhancement

#24 explicit compatibility plugins
  README.md
Labels: documentation

#15 Upgrade some versions + sonar version from 9.3 to 9.8
  .gitignore
  INSTALL.md
  docker-compose.yml
  java-plugin/pom.xml
  java-plugin/src/main/java/fr/cnumr/java/MyJavaRulesDefinition.java
  java-plugin/src/test/java/fr/cnumr/java/checks/AvoidConcatenateStringsInLoopTest.java
  java-plugin/src/test/java/fr/cnumr/java/checks/AvoidFullSQLRequestCheckTest.java
  java-plugin/src/test/java/fr/cnumr/java/checks/AvoidGettingSizeCollectionInLoopTest.java
  java-plugin/src/test/java/fr/cnumr/java/checks/AvoidRegexPatternNotStaticTest.java
  java-plugin/src/test/java/fr/cnumr/java/checks/AvoidSQLRequestInLoopCheckTest.java
  java-plugin/src/test/java/fr/cnumr/java/checks/AvoidSetConstantInBatchInsertTest.java
  java-plugin/src/test/java/fr/cnumr/java/checks/AvoidUsageOfStaticCollectionsTests.java
  java-plugin/src/test/java/fr/cnumr/java/checks/AvoidUsingGlobalVariablesCheckCheckTest.java
  java-plugin/src/test/java/fr/cnumr/java/checks/FreeResourcesOfAutoCloseableInterfaceTest.java
  java-plugin/src/test/java/fr/cnumr/java/checks/IncrementCheckTest.java
  java-plugin/src/test/java/fr/cnumr/java/checks/InitializeBufferWithAppropriateSizeTest.java
  java-plugin/src/test/java/fr/cnumr/java/checks/NoFunctionCallWhenDeclaringForLoopTest.java
  java-plugin/src/test/java/fr/cnumr/java/checks/OptimizeReadFileExceptionCheckTest.java
  java-plugin/src/test/java/fr/cnumr/java/checks/UnnecessarilyAssignValuesToVariablesTest.java
  java-plugin/src/test/java/fr/cnumr/java/checks/UseCorrectLoopCheckTest.java
  php-plugin/pom.xml
  php-plugin/src/main/java/fr/cnumr/php/MyPhpRules.java
  php-plugin/src/main/java/fr/cnumr/php/RulesList.java
  pom.xml
  python-plugin/pom.xml
  python-plugin/src/main/java/fr/cnumr/python/CustomPythonRuleRepository.java
  python-plugin/src/main/java/fr/cnumr/python/RulesList.java
  python-plugin/src/test/java/fr/cnumr/python/CustomPythonRuleRepositoryTest.java
Labels: enhancement, dependencies, php, java, python
