Repository green-code-initiative/creedengo-rules-specifications, pull requests merged in 2023-12, with the labels that each got.

#242 Allow creation of language-specific metadata files
  ecocode-rules-specifications/README.md
  ecocode-rules-specifications/pom.xml
  ecocode-rules-specifications/src/main/script/PrepareResources.jsh
Labels: :rocket: enhancement, :building_construction: refactoring, 🔥 in progress 🔥

#224 Add Swift rules from ecocode-ios
  CHANGELOG.md
  ecocode-rules-specifications/src/main/rules/EC14/EC14.json
  ecocode-rules-specifications/src/main/rules/EC14/swift/EC14.asciidoc
  ecocode-rules-specifications/src/main/rules/EC15/EC15.json
  ecocode-rules-specifications/src/main/rules/EC15/swift/EC15.asciidoc
  ecocode-rules-specifications/src/main/rules/EC16/EC16.json
  ecocode-rules-specifications/src/main/rules/EC16/swift/EC16.asciidoc
  ecocode-rules-specifications/src/main/rules/EC17/EC17.json
  ecocode-rules-specifications/src/main/rules/EC17/swift/EC17.asciidoc
  ecocode-rules-specifications/src/main/rules/EC18/EC18.json
  ecocode-rules-specifications/src/main/rules/EC18/swift/EC18.asciidoc
  ecocode-rules-specifications/src/main/rules/EC19/EC19.json
  ecocode-rules-specifications/src/main/rules/EC19/swift/EC19.asciidoc
  ecocode-rules-specifications/src/main/rules/EC20/EC20.json
  ecocode-rules-specifications/src/main/rules/EC20/swift/EC20.asciidoc
  ecocode-rules-specifications/src/main/rules/EC21/EC21.json
  ecocode-rules-specifications/src/main/rules/EC21/swift/EC21.asciidoc
  ecocode-rules-specifications/src/main/rules/EC23/EC23.json
  ecocode-rules-specifications/src/main/rules/EC23/swift/EC23.asciidoc
Labels: :rocket: enhancement, 👀 👀 review done 👀 👀

#243 Deprecate rule EC4 for Java because not applicable
  CHANGELOG.md
  RULES.md
  ecocode-rules-specifications/src/main/rules/EC4/java/EC4.asciidoc
  ecocode-rules-specifications/src/main/rules/EC4/java/EC4.json
  java-plugin/src/main/java/fr/greencodeinitiative/java/checks/AvoidUsingGlobalVariablesCheck.java
  java-plugin/src/test/java/fr/greencodeinitiative/java/checks/AvoidUsingGlobalVariablesCheckCheckTest.java
Labels: :card_file_box: rule, :building_construction: refactoring, ⚖️⚖️ todiscuss_coreteam ⚖️⚖️

#256 [ISSUE 248] Add test to prove ISSUE 248 is already ok
  CHANGELOG.md
  java-plugin/src/test/files/AvoidMultipleIfElseStatementNoIssue.java
Labels: :card_file_box: rule, java, 🔥 in progress 🔥

#258 [EC63] Deprecation of rule EC63 for java
  CHANGELOG.md
  RULES.md
  ecocode-rules-specifications/src/main/rules/EC63/java/EC63.asciidoc
  ecocode-rules-specifications/src/main/rules/EC63/java/EC63.json
  java-plugin/src/main/java/fr/greencodeinitiative/java/checks/UnnecessarilyAssignValuesToVariables.java
  java-plugin/src/test/java/fr/greencodeinitiative/java/checks/UnnecessarilyAssignValuesToVariablesTest.java
Labels: :card_file_box: rule, java

#261 [EC66] deprecation of EC66 rule for Python
  CHANGELOG.md
  RULES.md
  ecocode-rules-specifications/src/main/rules/EC66/python/EC66.asciidoc
  ecocode-rules-specifications/src/main/rules/EC66/python/EC66.json
Labels: :card_file_box: rule, 🔥 in progress 🔥

#260 [EC53] deprecation of EC53 rule for java
  CHANGELOG.md
  RULES.md
  ecocode-rules-specifications/src/main/rules/EC53/java/EC53.asciidoc
  ecocode-rules-specifications/src/main/rules/EC53/java/EC53.json
  java-plugin/src/main/java/fr/greencodeinitiative/java/checks/UseCorrectForLoop.java
  java-plugin/src/test/java/fr/greencodeinitiative/java/checks/UseCorrectLoopCheckTest.java
Labels: :card_file_box: rule, java

#259 [EC75] Deprecation of rule EC75 for java
  CHANGELOG.md
  RULES.md
  ecocode-rules-specifications/src/main/rules/EC75/java/EC75.asciidoc
  ecocode-rules-specifications/src/main/rules/EC75/java/EC75.json
  java-plugin/src/main/java/fr/greencodeinitiative/java/checks/AvoidConcatenateStringsInLoop.java
  java-plugin/src/test/java/fr/greencodeinitiative/java/checks/AvoidConcatenateStringsInLoopTest.java
Labels: :card_file_box: rule

#262 [EC7] complete resources for Java and Python
  CHANGELOG.md
  ecocode-rules-specifications/src/main/rules/EC7/python/EC7.asciidoc
Labels: :card_file_box: rule
