Repository green-code-initiative/creedengo-rules-specifications, pull requests merged in 2023-06, with the labels that each got.

#162 EC3-PHP Avoid Getting Size Collection In For Loop
  CHANGELOG.md
  RULES.md
  php-plugin/src/main/java/fr/greencodeinitiative/php/PhpRuleRepository.java
  php-plugin/src/main/java/fr/greencodeinitiative/php/checks/AvoidGettingSizeCollectionInLoopCheck.java
  php-plugin/src/main/resources/fr/greencodeinitiative/l10n/php/rules/custom/EC3.html
  php-plugin/src/test/java/fr/greencodeinitiative/php/PhpRuleRepositoryTest.java
  php-plugin/src/test/java/fr/greencodeinitiative/php/checks/AvoidGettingSizeCollectionInLoopTest.java
  php-plugin/src/test/resources/checks/AvoidGettingSizeCollectionInLoop.php
Labels: :card_file_box: rule, php, 🏆 challenge 🏆, 👀 👀 review done 👀 👀

#188 upgrade libraries versions for SonarQube 10.0.0
  CHANGELOG.md
  java-plugin/pom.xml
  java-plugin/src/main/java/fr/greencodeinitiative/java/JavaRulesDefinition.java
  java-plugin/src/test/java/fr/greencodeinitiative/java/JavaPluginTest.java
  javascript-plugin/pom.xml
  javascript-plugin/src/test/java/fr/greencodeinitiative/javascript/JavaScriptPluginTest.java
  php-plugin/pom.xml
  php-plugin/src/test/java/fr/greencodeinitiative/php/PhpPluginTest.java
  pom.xml
  python-plugin/pom.xml
  python-plugin/src/test/java/fr/greencodeinitiative/python/PythonPluginTest.java
Labels: :rocket: enhancement, dependencies, php, java, python, :fire: in progress :fire:, javascript

#201 Plugins clean-up
  CHANGELOG.md
  java-plugin/pom.xml
  java-plugin/src/main/java/fr/greencodeinitiative/java/JavaCheckRegistrar.java
  java-plugin/src/main/java/fr/greencodeinitiative/java/JavaPlugin.java
  java-plugin/src/main/java/fr/greencodeinitiative/java/JavaRulesDefinition.java
  java-plugin/src/main/java/fr/greencodeinitiative/java/RulesList.java
  java-plugin/src/main/java/fr/greencodeinitiative/java/checks/UnnecessarilyAssignValuesToVariables.java
  java-plugin/src/main/java/fr/greencodeinitiative/java/checks/package-info.java
  java-plugin/src/main/java/fr/greencodeinitiative/java/package-info.java
  java-plugin/src/main/java/fr/greencodeinitiative/java/utils/PrinterVisitor.java
  java-plugin/src/main/java/fr/greencodeinitiative/java/utils/StringUtils.java
  java-plugin/src/main/java/fr/greencodeinitiative/java/utils/package-info.java
  java-plugin/src/test/java/fr/greencodeinitiative/java/JavaCheckRegistrarTest.java
  java-plugin/src/test/java/fr/greencodeinitiative/java/JavaPluginTest.java
  java-plugin/src/test/java/fr/greencodeinitiative/java/JavaRulesDefinitionTest.java
  java-plugin/src/test/java/fr/greencodeinitiative/java/utils/FilesUtils.java
  java-plugin/src/test/java/fr/greencodeinitiative/java/utils/StringUtilsTest.java
  javascript-plugin/pom.xml
  javascript-plugin/src/main/java/fr/greencodeinitiative/javascript/JavaScriptPlugin.java
  javascript-plugin/src/main/java/fr/greencodeinitiative/javascript/JavaScriptRulesDefinition.java
  javascript-plugin/src/test/java/fr/greencodeinitiative/javascript/JavaScriptPluginTest.java
  php-plugin/pom.xml
  php-plugin/src/main/java/fr/greencodeinitiative/php/PHPPlugin.java
  php-plugin/src/main/java/fr/greencodeinitiative/php/PhpRuleRepository.java
  php-plugin/src/main/java/fr/greencodeinitiative/php/checks/IncrementCheck.java
  php-plugin/src/test/java/fr/greencodeinitiative/php/PhpPluginTest.java
  php-plugin/src/test/java/fr/greencodeinitiative/php/PhpRuleRepositoryTest.java
  php-plugin/src/test/java/fr/greencodeinitiative/php/checks/AvoidUsingGlobalVariablesCheckTest.java
  php-plugin/src/test/java/fr/greencodeinitiative/php/checks/IncrementCheckTest.java
  pom.xml
  python-plugin/pom.xml
  python-plugin/src/main/java/fr/greencodeinitiative/python/PythonPlugin.java
  python-plugin/src/main/java/fr/greencodeinitiative/python/PythonRuleRepository.java
  python-plugin/src/main/java/fr/greencodeinitiative/python/checks/package-info.java
  python-plugin/src/main/java/fr/greencodeinitiative/python/package-info.java
  python-plugin/src/test/java/fr/greencodeinitiative/python/PythonPluginTest.java
  python-plugin/src/test/java/fr/greencodeinitiative/python/PythonRuleRepositoryTest.java
Labels: dependencies, :building_construction: refactoring, :fire: in progress :fire:
