Repository green-code-initiative/creedengo-rules-specifications, pull requests merged in 2023-03, with the labels that each got.

#70 [ISSUE 69] correction security vulnerability
  php-plugin/src/main/java/fr/greencodeinitiative/php/checks/AvoidFullSQLRequestCheck.java
Labels: bug, php

#67 JavaScript plugin
  .github/workflows/manual_release.yml
  .github/workflows/tag_release.yml
  CHANGELOG.md
  INSTALL.md
  README.md
  docker-compose.yml
  javascript-plugin/README.md
  javascript-plugin/pom.xml
  javascript-plugin/src/main/java/fr/greencodeinitiative/javascript/JavaScriptPlugin.java
  javascript-plugin/src/main/java/fr/greencodeinitiative/javascript/JavaScriptRulesDefinition.java
  javascript-plugin/src/main/resources/fr/greencodeinitiative/l10n/javascript/rules.json
  javascript-plugin/src/test/java/fr/greencodeinitiative/javascript/JavaScriptPluginTest.java
  javascript-plugin/src/test/java/fr/greencodeinitiative/javascript/JavaScriptRulesDefinitionTest.java
  pom.xml
Labels: enhancement

#82 [ PHP plugin ] refactoring and corrections
  java-plugin/src/main/resources/fr/greencodeinitiative/l10n/java/rules/java/D4.html
  php-plugin/pom.xml
  php-plugin/src/main/java/fr/greencodeinitiative/php/PHPPlugin.java
  php-plugin/src/main/java/fr/greencodeinitiative/php/PhpRuleRepository.java
  php-plugin/src/main/java/fr/greencodeinitiative/php/checks/AvoidDoubleQuoteCheck.java
  php-plugin/src/main/java/fr/greencodeinitiative/php/checks/AvoidFullSQLRequestCheck.java
  php-plugin/src/main/java/fr/greencodeinitiative/php/checks/AvoidSQLRequestInLoopCheck.java
  php-plugin/src/main/java/fr/greencodeinitiative/php/checks/AvoidTryCatchFinallyCheck_NOK_failsAllTryStatements.java
  php-plugin/src/main/java/fr/greencodeinitiative/php/checks/AvoidUsingGlobalVariablesCheck.java
  php-plugin/src/main/java/fr/greencodeinitiative/php/checks/IncrementCheck.java
  php-plugin/src/main/java/fr/greencodeinitiative/php/checks/NoFunctionCallWhenDeclaringForLoop.java
  php-plugin/src/main/java/fr/greencodeinitiative/php/checks/UseOfMethodsForBasicOperations.java
  php-plugin/src/main/resources/fr/greencodeinitiative/l10n/php/rules/custom/D2.json
  php-plugin/src/main/resources/fr/greencodeinitiative/l10n/php/rules/custom/D4.html
  php-plugin/src/main/resources/fr/greencodeinitiative/l10n/php/rules/custom/D4.json
  php-plugin/src/main/resources/fr/greencodeinitiative/l10n/php/rules/custom/S34.json
  php-plugin/src/main/resources/fr/greencodeinitiative/l10n/php/rules/custom/S66.json
  php-plugin/src/main/resources/fr/greencodeinitiative/l10n/php/rules/custom/S67.json
  php-plugin/src/main/resources/fr/greencodeinitiative/l10n/php/rules/custom/S69.json
  php-plugin/src/main/resources/fr/greencodeinitiative/l10n/php/rules/custom/S72.json
  php-plugin/src/main/resources/fr/greencodeinitiative/l10n/php/rules/custom/S74.json
  php-plugin/src/test/java/fr/greencodeinitiative/php/PhpPluginTest.java
  php-plugin/src/test/java/fr/greencodeinitiative/php/PhpRuleRepositoryTest.java
  php-plugin/src/test/java/fr/greencodeinitiative/php/PhpRulesDefinitionTest.java
  php-plugin/src/test/resources/checks/AvoidSQLRequestInLoop.php
  php-plugin/src/test/resources/checks/avoidTryCatchFinallyCheck_NOK_FailsAllTryStatements.php
  php-plugin/src/test/resources/checks/useOfMethodsForBasicOperations.php
Labels: bug, php, refactoring, __PRIO_HIGH__
