Repository green-code-initiative/creedengo-rules-specifications, pull requests merged in 2023-05, with the labels that each got.

#189 check compatibility with SonarQube 10.0.0 (manual checks)
  Dockerfile
  README.md
  docker-compose.yml
Labels: :rocket: enhancement, php, java, python, javascript

#152 Resolve issue CRPYT404 (Team 1.5)
  CHANGELOG.md
  RULES.md
  python-plugin/src/main/java/fr/greencodeinitiative/python/PythonRuleRepository.java
  python-plugin/src/main/java/fr/greencodeinitiative/python/checks/AvoidListComprehensionInIterations.java
  python-plugin/src/main/resources/fr/greencodeinitiative/l10n/python/rules/python/EC404.html
  python-plugin/src/test/java/fr/greencodeinitiative/python/PythonRuleRepositoryTest.java
  python-plugin/src/test/java/fr/greencodeinitiative/python/checks/AvoidListComprehensionInIterationsTest.java
  python-plugin/src/test/resources/checks/AvoidListComprehensionInIterations.py
Labels: :card_file_box: rule, python, 🏆 challenge 🏆, 👀 👀 review done 👀 👀

#190 [ISSUE 113] Use unoptimized vector images
  CHANGELOG.md
  RULES.md
  python-plugin/src/main/java/fr/greencodeinitiative/python/PythonRuleRepository.java
  python-plugin/src/main/java/fr/greencodeinitiative/python/checks/AvoidUnoptimizedVectorImagesCheck.java
  python-plugin/src/main/resources/fr/greencodeinitiative/l10n/python/rules/python/EC10.html
  python-plugin/src/test/java/fr/greencodeinitiative/python/PythonRuleRepositoryTest.java
  python-plugin/src/test/java/fr/greencodeinitiative/python/checks/AvoidUnoptimizedVectorImagesTest.java
  python-plugin/src/test/resources/checks/avoidUnoptimizedVectorImages.py
Labels: :card_file_box: rule, python, 🏆 challenge 🏆, :fire: in progress :fire:

#192 [Rule EC203] Detect unoptimized file formats
  CHANGELOG.md
  RULES.md
  java-plugin/src/main/java/fr/greencodeinitiative/java/RulesList.java
  python-plugin/src/main/java/fr/greencodeinitiative/python/PythonRuleRepository.java
  python-plugin/src/main/java/fr/greencodeinitiative/python/checks/DetectUnoptimizedImageFormat.java
  python-plugin/src/main/resources/fr/greencodeinitiative/l10n/python/rules/python/EC203.html
  python-plugin/src/test/java/fr/greencodeinitiative/python/PythonRuleRepositoryTest.java
  python-plugin/src/test/java/fr/greencodeinitiative/python/checks/DetectUnoptimizedImageFormatTest.java
  python-plugin/src/test/resources/checks/avoidFullSQLRequest.py
  python-plugin/src/test/resources/checks/avoidGettersAndSetters.py
  python-plugin/src/test/resources/checks/avoidTryCatchFinallyCheck.py
  python-plugin/src/test/resources/checks/detectUnoptimizedImageFormat.py
  python-plugin/src/test/resources/checks/detectUnoptimizedImageFormatCompliant.py
  python-plugin/src/test/resources/checks/noFunctionCallWhenDeclaringForLoop.py
Labels: :card_file_box: rule, python, 🏆 challenge 🏆
